#concentrator_table {
  margin-bottom: 20px;
  background-color: #fffdfc;
  border-top: none;
  border-color: #dee2e6;
  height: 55vh;
  padding: 10px;
  border-radius: 0 10px 10px 10px;
}
#concentrator_table .tabulator-header {
  background-color: #fffdfc;
  color: #2b1710;
  border-bottom: 3px solid #bd6747;
  margin-bottom: 5px;
}
#concentrator_table .tabulator-header .tabulator-col,
#concentrator_table .tabulator-header .tabulator-row-handle {
  white-space: normal;
  background-color: #fffdfc;
}
#concentrator_table .tabulator-header .tabulator-col .tabulator-col-content,
#concentrator_table .tabulator-header .tabulator-row-handle .tabulator-col-content {
  text-overflow: clip;
}
#concentrator_table .tabulator-tableholder .tabulator-table .tabulator-row {
  color: #2b1710;
  background-color: #fffdfc;
  margin-bottom: 2px;
}
#concentrator_table .tabulator-tableholder .tabulator-table .tabulator-row:hover {
  background-color: #e5dbd4;
}
#concentrator_table .tabulator-tableholder .tabulator-table .tabulator-row .tabulator-cell {
  white-space: normal;
}
#concentrator_table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even) {
  background-color: #f7f5f1;
}
#concentrator_table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even):hover {
  background-color: #e5dbd4;
}
