@import url("./base.css");

table .w-5 {
    width: 5%;
}

table .w-10 {
    width: 10%;
}

table .w-45 {
    width: 45%;
}

body {
    font-family: "Verdana" !important;
}

#concentrator_table {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-top: none;
    border-color: #dee2e6;
    height: 55vh;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
}
#concentrator_table .tabulator-header {
    background-color: #f5f5f5;
    color: #7b422d;
    border-bottom: 3px solid #bd6747;
    margin-bottom: 5px;
}
#concentrator_table .tabulator-header .tabulator-col,
#concentrator_table .tabulator-header .tabulator-row-handle {
    white-space: normal;
    background-color: #f5f5f5;
}
#concentrator_table .tabulator-header .tabulator-col .tabulator-col-content,
#concentrator_table
    .tabulator-header
    .tabulator-row-handle
    .tabulator-col-content {
    text-overflow: clip;
}
#concentrator_table .tabulator-tableholder .tabulator-table .tabulator-row {
    color: #7b422d;
    background-color: #f5f5f5;
    margin-bottom: 2px;
}
#concentrator_table
    .tabulator-tableholder
    .tabulator-table
    .tabulator-row:hover {
    background-color: #eae7d0;
}
#concentrator_table
    .tabulator-tableholder
    .tabulator-table
    .tabulator-row
    .tabulator-cell {
    white-space: normal;
}
#concentrator_table
    .tabulator-tableholder
    .tabulator-table
    .tabulator-row:nth-child(even) {
    background-color: #f1f2f9;
}
#concentrator_table
    .tabulator-tableholder
    .tabulator-table
    .tabulator-row:nth-child(even):hover {
    background-color: #eae7d0;
}
