@import url("base.css");

table .w-5 {
    width: 5%;
}

table .w-10 {
    width: 10%;
}

table .w-45 {
    width: 45%;
}

body {
    font-family: "Verdana" !important;
}

label,
h2,
.h2 {
    color: #7b422d;
}

#geoscan_logo {
    width: 100px;
    height: auto;
    margin-bottom: 40px;
}

#maincard {
    background: #f5f5f5;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #7b422d;
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, #7b422d, #e1c409);
}
