@import url("base.css");

table .w-5 {
    width: 5%;
}

table .w-10 {
    width: 10%;
}

table .w-45 {
    width: 45%;
}

body {
    font-family: "Verdana" !important;
}

body {
    background-color: white !important;
}

.table td,
.table th {
    background-color: white !important;
}
