#contacts_table {
  background-color: #fdfcfa;
  border-color: #bd6747;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}
#contacts_table .tabulator-header {
  color: #2b1710;
  border-bottom: 3px solid #bd6747;
  margin-bottom: 5px;
}
#contacts_table .tabulator-header .tabulator-col,
#contacts_table .tabulator-header .tabulator-row-handle {
  white-space: normal;
  background-color: #fdfcfa;
}
#contacts_table .tabulator-header .tabulator-col .tabulator-col-content,
#contacts_table .tabulator-header .tabulator-row-handle .tabulator-col-content {
  text-overflow: clip;
}
#contacts_table .tabulator-tableholder .tabulator-table .tabulator-row {
  background-color: #fdfcfa;
  margin-bottom: 2px;
  padding: 10px 0;
}
#contacts_table .tabulator-tableholder .tabulator-table .tabulator-row:hover {
  background-color: #e9e2dc;
}
#contacts_table .tabulator-tableholder .tabulator-table .tabulator-row .tabulator-cell {
  white-space: normal;
}
#contacts_table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even) {
  background-color: #f5f1ef;
}
#contacts_table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even):hover {
  background-color: #e9e2dc;
}
#contacts_table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even):hover .tabulator-responsive-collapse table tr {
  background-color: #e9e2dc;
}
#contacts_table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(odd) .tabulator-responsive-collapse table tr {
  background-color: #fdfcfa;
}
#contacts_table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(odd):hover .tabulator-responsive-collapse table tr {
  background-color: #e9e2dc;
}
#contacts_table .tabulator-footer-contents {
  background-color: #fdfcfa;
}

#measurement_point_table {
  background-color: #fdfcfa;
  height: 33vh;
  border-color: #bd6747;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}
#measurement_point_table .tabulator-header {
  color: #2b1710;
  border-bottom: 3px solid #bd6747;
  margin-bottom: 5px;
}
#measurement_point_table .tabulator-header .tabulator-col,
#measurement_point_table .tabulator-header .tabulator-row-handle {
  white-space: normal;
  background-color: #fdfcfa;
}
#measurement_point_table .tabulator-header .tabulator-col .tabulator-col-content,
#measurement_point_table .tabulator-header .tabulator-row-handle .tabulator-col-content {
  text-overflow: clip;
}
#measurement_point_table .tabulator-tableholder .tabulator-table .tabulator-row {
  background-color: #fdfcfa;
  margin-bottom: 2px;
  padding: 10px 0;
}
#measurement_point_table .tabulator-tableholder .tabulator-table .tabulator-row:hover {
  background-color: #e9e2dc;
}
#measurement_point_table .tabulator-tableholder .tabulator-table .tabulator-row .tabulator-cell {
  white-space: normal;
}
#measurement_point_table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even) {
  background-color: #f5f1ef;
}
#measurement_point_table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even):hover {
  background-color: #e9e2dc;
}
#measurement_point_table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even):hover .tabulator-responsive-collapse table tr {
  background-color: #e9e2dc;
}
#measurement_point_table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(odd) .tabulator-responsive-collapse table tr {
  background-color: #fdfcfa;
}
#measurement_point_table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(odd):hover .tabulator-responsive-collapse table tr {
  background-color: #e9e2dc;
}
#measurement_point_table .tabulator-footer-contents {
  background-color: #fdfcfa;
}

/* Basic styling for the list container */
#userUpdateSelectList {
  max-height: 300px;
  padding: 0;
  list-style: none; /* Ensure no default list styling */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Basic styling for each list item */
.list-item {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

/* Styling for the selected item */
.list-item.selected {
  background-color: #e9e2dc;
}

.modal:nth-of-type(even) {
  z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
  z-index: 1051 !important;
}

span {
  text-decoration: underline;
  color: #bd6747;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  #example-table {
    height: 65vh;
  }
}
