#deleteButton:hover {
  color: #f7f5f1 !important;
  background-color: #cc2e0e;
}

#example-table {
  height: 55vh;
  background-color: #fffdfc;
  border-color: #bd6747;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}
#example-table .tabulator-header {
  background-color: #fffdfc;
  border-bottom: 3px solid #bd6747;
  margin-bottom: 5px;
}
#example-table .tabulator-header .tabulator-col,
#example-table .tabulator-header .tabulator-row-handle {
  white-space: normal;
  background-color: #fffdfc;
}
#example-table .tabulator-header .tabulator-col .tabulator-col-content,
#example-table .tabulator-header .tabulator-row-handle .tabulator-col-content {
  text-overflow: clip;
}
#example-table .tabulator-tableholder .tabulator-table .tabulator-row {
  background-color: #fffdfc;
  margin-bottom: 2px;
  padding: 20px 0;
}
#example-table .tabulator-tableholder .tabulator-table .tabulator-row:hover {
  background-color: #e5dbd4;
}
#example-table .tabulator-tableholder .tabulator-table .tabulator-row .tabulator-cell {
  white-space: normal;
}
#example-table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even) {
  background-color: #f7f5f1;
}
#example-table .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even):hover {
  background-color: #e5dbd4;
}

/* Basic styling for the list container */
#userUpdateSelectList {
  max-height: 300px;
  padding: 0;
  list-style: none; /* Ensure no default list styling */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Basic styling for each list item */
.list-item {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

/* Styling for the selected item */
.list-item.selected {
  background-color: #e5dbd4;
}

.modal:nth-of-type(even) {
  z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
  z-index: 1051 !important;
}

@media only screen and (min-width: 768px) {
  #example-table {
    height: 65vh;
  }
}
