@import url("base.css");

table .w-5 {
    width: 5%;
}

table .w-10 {
    width: 10%;
}

table .w-45 {
    width: 45%;
}

body {
    font-family: "Verdana" !important;
}

#deleteButton:hover {
    color: #f1f2f9 !important;
    background-color: #cc2e0e;
}

#example-table {
    background-color: #f5f5f5;
    height: 55vh;
    border-top: none;
    border-color: #dee2e6;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
}
#example-table .tabulator-header {
    background-color: #f5f5f5;
    color: #7b422d;
    border-bottom: 3px solid #bd6747;
    margin-bottom: 5px;
}
#example-table .tabulator-header .tabulator-col,
#example-table .tabulator-header .tabulator-row-handle {
    white-space: normal;
    background-color: #f5f5f5;
}
#example-table .tabulator-header .tabulator-col .tabulator-col-content,
#example-table .tabulator-header .tabulator-row-handle .tabulator-col-content {
    text-overflow: clip;
}
#example-table .tabulator-tableholder .tabulator-table .tabulator-row {
    color: #7b422d;
    background-color: #f5f5f5;
    margin-bottom: 2px;
}
#example-table .tabulator-tableholder .tabulator-table .tabulator-row:hover {
    background-color: #eae7d0;
}
#example-table
    .tabulator-tableholder
    .tabulator-table
    .tabulator-row
    .tabulator-cell {
    white-space: normal;
}
#example-table
    .tabulator-tableholder
    .tabulator-table
    .tabulator-row:nth-child(even) {
    background-color: #f1f2f9;
}
#example-table
    .tabulator-tableholder
    .tabulator-table
    .tabulator-row:nth-child(even):hover {
    background-color: #eae7d0;
}

/* Basic styling for the list container */
#userUpdateSelectList {
    max-height: 300px;
    padding: 0;
    list-style: none; /* Ensure no default list styling */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Basic styling for each list item */
.list-item {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

/* Styling for the selected item */
.list-item.selected {
    background-color: #eae7d0;
}

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}

@media only screen and (min-width: 768px) {
    #example-table {
        height: 65vh;
    }
}
