$black: #121111;
$hover: #eae7d0;
$white: #f1f2f9;
$light: #f5f5f5;
$dark: #7b422d;
$primary: #bd6747;
$secondary: #e1c409;
$info: #ffc881;
$success: #30c886;
$warning: #fd6603;
$danger: #cc2e0e;
$border-color: #dee2e6;

$box-shadow: 0.15rem 0.25rem 0.25rem rgba($black, 0.1);
$box-shadow-sm: 0.15rem 0.2rem 0.25rem rgba($black, 0.2);

$color: $dark;
$navbar-padding-x: 2.5rem;
$navbar-dark-color: $white;
$navbar-dark-active-color: $secondary;

$nav-tabs-link-active-color: $dark;
$nav-tabs-link-active-bg: $light;

$modal-inner-padding: 2rem;
$modal-header-border-color: $primary;
$modal-content-color: $dark;
$modal-content-bg: $white;

$modal-scale-transform: scale(1.2);
$input-color: $dark;
$input-bg: $light;

$darkgray: #1d1b36;

table .w-5 {
    width: 5%;
}
table .w-10 {
    width: 10%;
}
table .w-45 {
    width: 45%;
}

body {
    font-family: "Verdana" !important;
}
