$black: #121111;
$hover: #e9e2dc;
$light: #fdfcfa;
$white: #f5f1ef;
$header-color: #c4ada4;
$dark: #7b422d;
$primary: #bd6747;
$secondary: #fcdb00;
$info: #ffc881;
$success: #30c886;
$warning: #fd6603;
$danger: #cc2e0e;
$border-color: #dee2e6;
$text: #2b1710;

$box-shadow: 0.15rem 0.25rem 0.25rem rgba($black, 0.1);
$box-shadow-sm: 0.15rem 0.2rem 0.25rem rgba($black, 0.2);

$color: $text;
$navbar-padding-x: 1.5rem;
$navbar-dark-color: $white;
$navbar-dark-active-color: $secondary;

$nav-tabs-link-active-color: $text;
$nav-tabs-link-active-bg: $light;

$modal-inner-padding: 2rem;
$modal-header-border-color: $primary;
$modal-content-color: $text;
$modal-content-bg: $white;

$modal-scale-transform: scale(1.2);
$input-color: $text;
$input-bg: $light;

$darkgray: #1d1b36;
